.media-row-container {
  padding-bottom: 2rem;

}

.media-row {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
  scroll-behavior: smooth;
  padding-top: 16px;
  padding-bottom: 16px;
  
}

.media-row::-webkit-scrollbar {
  height: 8px;
}

.media-row::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.media-row::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.image-card {
  flex: 0 0 auto;
  width: 200px;
  height: 300px;
  margin-right: 1rem;
}

.image-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}
